# Enable HA for Redis
redis:
  enabled: true # Disable the default non-HA Redis
redis-ha: # Enable the HA Redis sub-chart
  enabled: false
controller:
  replicas: 1
repoServer:
  replicas: 1
applicationSet:
  replicas: 1
global:
  domain: argocd.example.com
certificate:
  enabled: true
server:
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    tls: true
 

